#navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:80px;
    width:100%;
    background-color:lightgrey;
}
a{
    text-decoration:none;
    color:black;
    font-size:1rem;
    font-weight:bold;
}